<div class='ten columns balance' >
	<div *ngFor = 'let superCuenta of balance' >
		<h4>{{superCuenta.descripcion}}: <input tyep='text' [(ngModel)]='superCuenta.valor' [attr.disabled]='superCuenta.desglose.length > 0? true: null'  ></h4>
		<div>
			<div *ngFor = 'let cuenta of superCuenta.desglose' class="container">
				<span class="nine columns"><strong>{{cuenta.descripcion}}:</strong> </span>
				<span class="one columns"><input tyep='text' [(ngModel)]='cuenta.valor' [attr.disabled]='cuenta.desglose.length > 0? true: null'  ></span>
				<div *ngFor = 'let subCuenta of cuenta.desglose' >
					<span class="nine columns">{{subCuenta.descripcion}}: </span>
					<span class="one columns"><input tyep='text' [(ngModel)]='subCuenta.valor' (focus)='select(subCuenta)' (ngModelChange)='calculaSuma(cuenta, superCuenta, subCuenta)' ></span>
				</div>
			</div>
		</div>
	</div>
</div>